<%- include("partials/header", { bot, user, path, query, title: "Dashboard" }) %>

  <div class='grid space-x-2 mxauto xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4'>
    <% user.guilds.forEach(guild => {
        const permsOnGuild = new perms(guild.permissions);
        if(!permsOnGuild.has("MANAGE_GUILD")) return;
      %>

    <div class="card bg-gray-800 rounded transition-shadow shadow-xl hover:shadow-xl mt-20">
      <div
        class="mx-auto h-24 w-24 md rounded-full relative avatar items-end justify-end text-purple-600 -top-16 bg-purple-200 text-purple-100 row-start-1 row-end-3 text-purple-650 ring-1 ring-white">
        <img class="h-24 w-24 md rounded-full relative" src="<% if (guild.icon) { %>https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon%><% } else { %>/static/pictures/question.svg<% } %>"
          alt="">
      </div>
      <div class="text-center justify-center -mt-12 pb-3">
        <p class="text-center text-white font-semibold"><%= guild.name %></p>
        <br>
        <% if (bot.guilds.cache.get(guild.id)) { %>
          <a href="/dashboard/<%= guild.id %>"
            class="focus:border-blue-300 rounded border bg-transparent border-purple-700 text-purple-700 hover:text-white hover:bg-purple-800 hover:border-purple-800 px-4 py-1 items-center mx-auto"><span class="mr-2"></span>Edit Settings<span class="ml-2"></span></a>
        <% } else { %>
          <a href="<%= `https://discordapp.com/oauth2/authorize?client_id=${bot.user.id}&scope=bot&guild_id=${guild.id}&response_type=code&redirect_uri=${encodeURIComponent(`http://${process.env.DOMAIN}${process.env.PORT == 80 || process.env.PUBLISHPORT == 0 ? "" : `:${process.env.PORT}`}/callback`)}` %>"
            class="focus:border-blue-300 rounded border bg-transparent border-purple-700 text-purple-700 hover:text-white hover:bg-purple-800 hover:border-purple-800 px-4 py-1 items-center mx-auto"><span class="mr-2"></span>Add Bot<span class="ml-2"></span></a>
        <% } %>
      </div>
    </div>
    <% }); %>  
  </div>

<%- include("partials/footer") %>